Repository fastlorenzo/test-ci, changes with the labels that .github/labeler.yml gives for each.
All labels: c2servers, elkserver, redirs, helpers, documentation, installer, githubci

.github/labeler.yml:

# c2servers
c2servers:
  - 'c2servers/**/*'

# elkserver
elkserver:
  - 'elkserver/**/*'

# redirs
redirs:
  - 'redirs/**/*'

# helpers
helpers:
  - 'helper-scripts/**/*'

# documentation
documentation:
  - 'README.md'
  - 'LICENSE'
  - 'VERSION'
  - 'releasenotes.txt'
  - 'images/**/*'
  - 'example-data-and-configs/**/*'

installer:
  - 'initial-setup.sh'
  - 'c2servers/install-c2server-*.sh'
  - 'elkserver/install-elkserver.sh'
  - 'elkserver/redelk-*.yml'
  - 'redirs/install-redir.sh'

githubci:
  - '.github/**/*'

small patch on README
  README.md
Labels: documentation

changed branch name to main
  .github/workflows/release-drafter.yml
Labels: githubci

fix release workflow
  .github/workflows/release-drafter.yml
Labels: githubci

Updated elkserver installer
  elkserver/install-elkserver.sh
Labels: elkserver, installer

Updated docker compose
  elkserver/redelk-dev.yml
Labels: elkserver, installer

Updated workflow
  .github/workflows/release-drafter.yml
Labels: githubci
